{% extends "base.html" %}

{% block meta %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block header %}
<h1>League of Legends Item Catalog</h1>
{% endblock %}

{% block main %}
<h2>{{title}}</h2>   
<nav>
  {% for cat in item_categories %}
  <a href="{{ url_for('items_page', category_id=cat.id) }}">{{cat.name}}</a>
  {% endfor %}
</nav>
<div>
  <ul>
    {% for item in items %}
    <li>
      <a href="{{ url_for('item_page', item_id=item.id) }}">
        <img src={{item.image_url}} />
        <span>{{item.name}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<a href="{{ url_for('create_item_page') }}">Add Item</a>
{% endblock %}