{% macro item_form(action, item_categories,
  item_name='', item_image_url='', item_description='',
  item_category_ids=[]) %}
<form class="item_form" action="{{action}}" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{item_name}}" placeholder="Item Name..."/>
  </div> 
  <div class="form-group">
    <label for="image_url">Image URL</label>
    <input type="text" name="image_url" value="{{item_image_url}}" placeholder="Item Image URL..."/>
  </div> 
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" placeholder="Item Description...">{{item_description}}</textarea>
  </div>
  <div class="form-group">
    <label for="category_ids">Categories</label>
    <select multiple name="category_ids" value="{{item_category_ids}}">
      {% for cat in item_categories %}
      {% if cat.id in item_category_ids %}
      <option value="{{cat.id}}" selected>{{cat.name}}</option>
      {% else %}
      <option value="{{cat.id}}">{{cat.name}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <button type="submit">Save</button>
  </div>
</form>
{% endmacro %}