{% extends "base.html" %}

{% block meta %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block header %}
<h1>League of Legends Item Catalog</h1> 
{% endblock %}

{% block main %}
<h2>{{item.name}}</h2> 
{% if item.image_url %}
<div>
  <img src="{{item.image_url}}" />
</div>
{% endif %}   
<div>
  {{item.description}}
</div>
<a href="{{ url_for('update_item_page', item_id=item.id) }}">Edit Item</a>
<a href="{{ url_for('delete_item_page', item_id=item.id) }}">Delete Item</a>
<div>
  <h3>Categories</h3>
  <ul>
    {% for cat in item_categories %}
    <li>{{cat.name}}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}