{% macro main_menu(user) %}
<nav class="main_menu">
    <a class="_logo" href="{{ url_for('items_page') }}">
        <div>
            <img class "_img"
                src="{{ url_for('static', filename='./images/icon.png') }}">
        </div>
        <span class "_title">
            League of Legends Item Catalog
        </span>
    </a>
    <div class="_user_box">
        {% if user %}
        <div>
            <img class="_img" src="{{user.profile_image_url}}" />
        </div>
        <div class="_name_box">
            <div class="_name">{{user.name}}</div>
            <div class="_email">{{user.email}}</div>
        </div>
        <div class="_logout_box">
            <a href="#" onclick="onSignOut()">Logout</a>
        </div>
        {% else %}
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        {% endif %}
    </div>
</nav>
{% endmacro %}